<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <handlers>
            <remove name="WebDAV" />
        </handlers>
        <rewrite>
    <rules>
        <rule name="Reverse Proxy to api" stopProcessing="true">
            <match url="(.*)" />
            <action type="Rewrite" url="https://eecictapi.azurewebsites.net//{R:1}" />
                    <conditions>
                        <add input="{PATH_INFO}" pattern="/api/" />
                    </conditions>
        </rule>
        <rule name="Reverse Proxy to api report" stopProcessing="true">
            <match url="(.*)" />
            <action type="Rewrite" url="https://eecictapi.azurewebsites.net//{R:1}" />
                    <conditions>
                        <add input="{PATH_INFO}" pattern="/Reports/" />
                    </conditions>
        </rule>
        <rule name="Reverse Proxy to api upload" stopProcessing="true">
            <match url="(.*)" />
            <action type="Rewrite" url="https://eecictapi.azurewebsites.net//{R:1}" />
                    <conditions>
                        <add input="{PATH_INFO}" pattern="/uploads/" />
                    </conditions>
        </rule>
	<rule name="Reverse Proxy to tms" stopProcessing="true">
            <match url="(.*)" />
            <action type="Rewrite" url="https://eecictapi.azurewebsites.net//{R:1}" />
                    <conditions>
                        <add input="{PATH_INFO}" pattern="/tms/" />
                    </conditions>
        </rule>
                <rule name="AngularRouter">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
    </rules>
</rewrite>       
		<proxy enabled="true" />
    </system.webServer>	
	<system.net>
		<defaultProxy>
		  <proxy proxyaddress="https://eecictapi.azurewebsites.net//" bypassonlocal="true" />
		</defaultProxy>
	</system.net>
</configuration>
