<div class="question-container">
  <div class="row mt-3 mx-1">
    <h4 class="col-6 text-left font-weight-bold">
      #{{index + 1}}
    </h4>
    <div class="col-6 text-right">
      <span *ngIf="!question?.IsEdit" class="button dx-icon-edit" style="color: blue;"
        (click)="handleClickEdit()"></span>
      <span class="button dx-icon-close" style="color: red;" (click)="handleDelete()"></span>
      <span *ngIf="question?.IsEdit" class="button dx-icon-check" style="color: blue" (click)="handleSave()"></span>
      <span *ngIf="question?.IsEdit" class="button dx-icon-return" style="color: red;" (click)="handleExit()"></span>
    </div>
  </div>
  <div class="row mx-2 mt-1">
    <div class="col-12">
      <app-custom-ckeditor *ngIf="question?.IsEdit" [(Content)]="question.Question"></app-custom-ckeditor>
      <app-view-ckeditor *ngIf="!question?.IsEdit" [data]="question.Question"></app-view-ckeditor>
    </div>
  </div>

  <div class="row mx-1 mt-3">
    <div class="col-4">
      <div class="mt-3">
        <dx-select-box label="Question type" [readOnly]="!question?.IsEdit" [dataSource]="questionTypes" displayExpr="Name" valueExpr="Id"
          [(value)]="question.QuestionType" (onValueChanged)="handleChangeQuestionType($event)">
        </dx-select-box>
      </div>
    </div>
    <div class="col-2">
      <div class="mt-3">
        <dx-number-box label="Weight" [readOnly]="!question?.IsEdit" [(value)]="question.TrongSo"></dx-number-box>
      </div>
    </div>
    <div  *ngIf="question.QuestionType==enum_QuestionType.MULTIPLE_CHOICE" class="col-6">
      <div class="field mt-3 mb-3" style="border: solid 1px #ccc; border-radius: 5px; padding: 5px;">
        <div class="label">Answers</div>
        <div class="answers p-2" style="background-color: #fff; margin: 5px 0px;">
          <!-- <dx-radio-group [dataSource]="choices" valueExpr="Id" [(value)]="answerId">
            <ng-template *dxTemplate="let answer of 'item'">
              <app-custom-ckeditor class="flex-grow-1" [(Content)]="answer"></app-custom-ckeditor>
            </ng-template>
          </dx-radio-group> -->
          <div *ngFor="let choice of choices; index as i;" class="d-flex mb-2" style="margin: 5px 0px; border-bottom: solid 1px #eee;">
            <dx-check-box class="mr-2" [readOnly]="!question?.IsEdit" [(value)]="choice.IsCorrect"></dx-check-box>
            <app-custom-ckeditor *ngIf="question?.IsEdit" class="flex-grow-1" [(Content)]="choice.Answer">
            </app-custom-ckeditor>
            <app-view-ckeditor *ngIf="!question?.IsEdit" class="flex-grow-1" [data]="choice.Answer"></app-view-ckeditor>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="question.QuestionType==enum_QuestionType.FILL_IN_BLANK" class="col-6">
      <div class="field mt-3 mb-3" style="border: solid 1px #ccc; border-radius: 5px; padding: 5px;">
        <div class="label">Answers <span *ngIf="question.IsEdit" class="dx-icon-add" style="color: blue; cursor: pointer; font-weight: bold; padding: 3px;"
            (click)="handleAddFillInBlankAnswer()"></span></div>
        <div class="answers p-2" style="background-color: #fff; margin: 5px 0px;">
          <!-- <dx-radio-group [dataSource]="choices" valueExpr="Id" [(value)]="answerId">
            <ng-template *dxTemplate="let answer of 'item'">
              <app-custom-ckeditor class="flex-grow-1" [(Content)]="answer"></app-custom-ckeditor>
            </ng-template>
          </dx-radio-group> -->
          <div *ngFor="let choice of choices; index as i;" class="d-flex align-items-center mb-2"
            style="margin: 5px 0px;">
            <!-- <dx-check-box [(value)]="choice.IsCorrect"></dx-check-box> -->
            <span class="mr-1" style="font-weight: bold;">{{i+1}}.</span>
            <app-custom-ckeditor *ngIf="question?.IsEdit" class="flex-grow-1" [(Content)]="choice.Answer">
            </app-custom-ckeditor>
            <app-view-ckeditor *ngIf="!question?.IsEdit" class="flex-grow-1" [data]="choice.Answer"></app-view-ckeditor>
            <span *ngIf="question?.IsEdit" class="dx-icon-close" style="color: red; cursor: pointer;"
              (click)="handleDeleteFillInBlankAnswer(choice.Id)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-1 my-3">
    <div class="col-12">
      <div class="label">Note</div>
      <app-custom-ckeditor *ngIf="question?.IsEdit" [(Content)]="question.Note"></app-custom-ckeditor>
      <div class="ml-2">
        <app-view-ckeditor *ngIf="!question?.IsEdit" [data]="question.Note"></app-view-ckeditor>
      </div>
    </div>
  </div>
</div>
