<app-generic-page pageTitle="Test details" [haveBackButton]="true" [loading]="loading">
  <ng-container buttons>
    <dx-button class="mr-1" [icon]="dxButtonConfig.add_icon" [type]="dxButtonConfig.add_type" text="Add question"
      (click)="addQuestion()"></dx-button>
    <dx-button [icon]="dxButtonConfig.save_icon" [type]="dxButtonConfig.save_type" text="Save" (click)="save()">
    </dx-button>
  </ng-container>

  <ng-container body>
    <dx-validation-group #validationEntity>
      <div class="row mx-1 mt-2">
        <div class="col-6">
          <!-- <div class="label">Test name: {{item.TenDeThi}}</div> -->
          <dx-text-area [autoResizeEnabled]="true" label="Test name" [(value)]="item.TenDeThi"></dx-text-area>
        </div>
        <div class="col-3">
          <!-- <div class="label">Test name: {{item.TenDeThi}}</div> -->
          <dx-date-box label="Date" [(value)]="item.Ngay"></dx-date-box>
        </div>
        <div class="col-3">
          <dx-number-box label="Time" [(value)]="item.ThoiGianLamBai" [step]="0"></dx-number-box>
        </div>
      </div>
      <div class="row mx-1 mt-2">
        <div class="col-12">
          <!-- <div class="label">Test name: {{item.TenDeThi}}</div> -->
          <dx-text-area label="Note" [(value)]="item.GhiChu"></dx-text-area>
        </div>
      </div>

      <!-- <div class="row mt-2">
        <div class="col-12 field">
          <div class="label">Note</div>
          <app-custom-ckeditor [(Content)]="item.GhiChu"></app-custom-ckeditor>
        </div>
      </div> -->
      <div class="field" *ngFor="let question of item.ListCauHoi; index as i;">
        <app-multiple-choice-question [index]="i" [(question)]="item.ListCauHoi[i]" (questionChange)="handleChangeQuestion($event, i)"
          (onExit)="handleExitEdit(question, i)" (onDelete)="handleDeleteQuestion($event)"></app-multiple-choice-question>
      </div>
    </dx-validation-group>
  </ng-container>
</app-generic-page>
