<app-generic-page pageTitle="Test details">
  <ng-container buttons>
    <dx-button class="mr-1" [icon]="dxButtonConfig.add_icon" [type]="dxButtonConfig.add_type" text="Add question"
      (click)="addQuestion()"></dx-button>
    <dx-button [icon]="dxButtonConfig.save_icon" [type]="dxButtonConfig.save_type" text="Save"
      (click)="save()"></dx-button>
  </ng-container>

  <ng-container body>
    <div class="row mt-2">
      <div class="col-12 field">
        <div class="label">Test name</div>
        <app-custom-ckeditor></app-custom-ckeditor>
      </div>
    </div>

    <div class="row mt-2" *ngFor="let question of listQuestion">
      <div class="col-6 field">
        <div class="label">Test name</div>
        <app-custom-ckeditor></app-custom-ckeditor>
      </div>
      <div class="col-6">
        <div>Answer</div>
      </div>
    </div>
  </ng-container>
</app-generic-page>
