.card-wrapper {
  margin-top: 10px;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 10px;
  background-color: #fff;

  .title {
    display: flex;
    justify-content: space-between;

    .dx-icon-edit {
      font-size: 18px;
    }
    .dx-icon-close {
      font-size: 18px;
    }
  }
}
