<dx-validation-group #validationEntity>
    <div class="field" >
        <label>Tên quyền:</label>
        <div class="input">
            <dx-text-box 
                [readOnly]="readOnly"
                [(value)]="entity.Name">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Yêu cầu thông tin"></dxi-validation-rule>
                    <dxi-validation-rule type="async" message="Tên quyền đã tồn tại!" [ignoreEmptyValue]="true" [validationCallback]="validationAsync"></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
    </div>
    <div class="field" >
        <label>Mô tả:</label>
        <div class="input">
            <dx-text-box 
                [readOnly]="readOnly"
                [(value)]="entity.Description">
            </dx-text-box>
        </div>
    </div>
</dx-validation-group>