<app-generic-page pageTitle="Test List">
  <ng-container main-filters>
    <dx-text-box style="width: 600px;" mode="search" placeholder="Enter the keyword ..." [(value)]="keyword"
      (onEnterKey)="onFilter()">
      <!-- <dxi-button name="filter" location="after" [options]="optionsBtnFilter"></dxi-button> -->
    </dx-text-box>
  </ng-container>

  <ng-container buttons>
    <dx-button class="custom-button" text="Add new test" [icon]="dxButtonConfig.add_icon"
      [type]="dxButtonConfig.add_type" (click)="addTest()">
    </dx-button>
  </ng-container>

  <ng-container body>
    <div class="card-wrapper" *ngFor="let item of items; index as i">
      <div class="title">
        <h4>{{i + 1}}. <a routerLink="/administration/quiz/test/{{item.IdDeThi}}">{{item.TenDeThi}}</a></h4>
        <div class="actions">
          <a class="dx-icon-edit" routerLink="/administration/quiz/prepare/{{item.IdDeThi}}"></a>
          <a class="dx-icon-close" href="javascript:void(0)" (click)="handleDelete(item)"></a>
        </div>
      </div>
      <p>{{item.GhiChu}}</p>
    </div>
    <app-paginator [(page)]="pageIndex" [(pageSize)]="pageSize" [totalRows]="totalRows" [pageSizes]="pageSizes"
        (onPageChanged)="loadData()" (onPageSizeChanged)="loadData()"></app-paginator>
  </ng-container>
</app-generic-page>

<dx-popup [width]="400" height="auto" title="Add new test" [(visible)]="isShowPopup">
  <div class="m-2">
    <dx-text-box label="Test title" [(value)]="item.TenDeThi"></dx-text-box>
    <dx-text-area label="Note" [(value)]="item.GhiChu"></dx-text-area>
    <dx-date-box label="Date" [(value)]="item.Ngay"></dx-date-box>
    <dx-number-box label="Time" [(value)]="item.ThoiGianLamBai" [step]="0"></dx-number-box>
    <div class="text-right mt-2">
      <dx-button [icon]="dxButtonConfig.save_icon" [type]="dxButtonConfig.save_type" text="Save" (click)="save()">
      </dx-button>
    </div>
  </div>
</dx-popup>
