<app-generic-page pageTitle="Test List">
  <ng-container main-filters>
    <dx-text-box style="width: 600px;" mode="search" placeholder="Nhập tên Vật chất, trang bị" [(value)]="keyword"
      (onEnterKey)="onFilter()">
      <!-- <dxi-button name="filter" location="after" [options]="optionsBtnFilter"></dxi-button> -->
    </dx-text-box>
  </ng-container>

  <ng-container buttons>
    <dx-button class="custom-button" text="Add new test" [icon]="dxButtonConfig.add_icon"
      [type]="dxButtonConfig.add_type" (click)="addTest()">
    </dx-button>
  </ng-container>
</app-generic-page>
