<!-- <div class="login-page">
  <div class="form-login">
    <div class="header-form">
      <div class="logo">
        <img src="/assets/images/vietnam-flag.png" width="130" height="80" alt="">
      </div>
      <div class="names">
        <div class="name-dv">
          <h4>Englightening Education Center</h4>
          <h5 class="name-software">Mathematics Training System</h5>
        </div>
      </div>
    </div>
    <div class="body-form">
      <div class="left-block">
        <p class="title-left"><i class="fa fa-life-ring" aria-hidden="true"></i>Technical Support:</p>

        <div class="left-contact">
          <p style="margin-left: 1rem;"><b>EEC-ICT Team</b></p>
          <p><i class="fa fa-phone mr-2" aria-hidden="true"></i>Mobile: xxx.xxx.xxxx hoặc xxx.xxx.xxxx</p>
          <p><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Address: 43 Do Quang street</p>
        </div>
      </div>
      <div class="right-block">
        <p><i class="fa fa-pencil-square" aria-hidden="true"></i>Thông tin đăng nhập</p>
        <form role="form">
          <div class="form-content">
            <div class="form-group">
              <input [(ngModel)]="username" [placeholder]="'Tài khoản'" class="form-control input-underline input-lg"
                type="text" name="username" />
            </div>

            <div class="form-group">
              <input [(ngModel)]="password" [placeholder]="'Mật khẩu'" class="form-control input-underline input-lg"
                type="password" name="password" (keyup.enter)="onLoggedIn()" />
            </div>
          </div>
          <div class="submit">
            <a (click)="onLoggedIn()" class="submit-button">Đăng nhập</a>
            <img *ngIf="loading" src="../../assets/images/loading_spiner.gif">
          </div>
          &nbsp;

        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="login-wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-7 side-image">
        <!-- <div class="bg">
        </div> -->
        <div class="text">
          <div class="login-header">
            <h4>IGCSE-HUB</h4>
            <p>Mathematics Training System</p>
          </div>

          <div class="contact">
            <p class="title-left"><i class="fa fa-cog mr-1 icon" aria-hidden="true"></i>Contact:</p>
            <div class="left-contact">
              <!-- <p style="margin-left: 3rem;"><b>Ban CNTT/TCHC</b></p> -->
              <p style="margin-left: 3rem;"><b>IGCSE Team</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 right">
        <div class="input-box">
          <div class="logo">
            <img src="/assets/images/math.png" alt="">
          </div>
          <header>Account</header>
          <form role="form">
            <div class="form-content">
              <div class="form-group">
                <input [(ngModel)]="username" [placeholder]="'Account'" class="form-control input-underline input-lg"
                  type="text" name="username" />
              </div>

              <div class="form-group">
                <input [(ngModel)]="password" [placeholder]="'Password'" class="form-control input-underline input-lg"
                  type="password" name="password" (keyup.enter)="onLoggedIn()" />
              </div>
            </div>
            <div class="submit d-flex">
              <!-- <a (click)="onLoggedIn()" class="submit-button">Đăng nhập</a> -->
              <dx-button text="Đăng nhập" [icon]="dxButtonConfig.import_icon" [type]="dxButtonConfig.add_type"
                (onClick)="onLoggedIn()" style="border-radius: 5px; display: flex; align-items: center;">
                <i *ngIf="!loading" class="fa fa-sign-in mr-2" aria-hidden="true" style="font-size: 20px;"></i>
                <img *ngIf="loading" class="mr-2" src="../../assets/images/loading_spiner.gif" style="height: 20px; width: 20px;">
                <span>Login</span>
              </dx-button>
              <a class="mt-2" href="javascript:void(0)" routerLink="/signup">Don't have account? Register.</a>
            </div>
            &nbsp;
          </form>
          <!-- <div class="contact mt-4">
            adasd
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
