<dx-scroll-view>
  <dx-validation-group #validationEntity>
    <div class="field">
      <label>TopicId:</label>
      <app-topic-selectbox [readOnly]="readOnly" [(topicId)]="entity.TopicId"></app-topic-selectbox>
    </div>
    <div class="field">
      <label>Question:</label>
      <dx-text-area [autoResizeEnabled]="true" [readOnly]="readOnly" [(value)]="entity.Question">
        <dx-validator>
          <dxi-validation-rule type="required" message="Yêu cầu thông tin"></dxi-validation-rule>
        </dx-validator>
      </dx-text-area>
    </div>
    <div class="field">
      <label>GraphUrl:</label>
      <!-- <dx-text-box [readOnly]="readOnly" [(value)]="entity.GraphUrl">
      </dx-text-box> -->
      <input #graph type="file" accept=".png, .jpg, .jpeg" (change)="handleChangeGraph($event)">
    </div>
    <div class="field">
      <label for="">Choices: <button *ngIf="!readOnly" class="add-btn" (click)="handleAddChoice()"><i class="icon fa fa-plus" title="Add new choice"></i></button></label>
      <table class="table table-bordered table-hover text-center">
        <thead class="font-weight-bold">
          <tr>
            <td>Answer</td>
            <td [width]="50">IsCorrect</td>
            <td *ngIf="!readOnly" [width]="50"></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let it of this.entity.ChoiceList; index as i;">
            <td>
              <dx-text-area [readOnly]="readOnly" [autoResizeEnabled]="true" [(value)]="it.Answer"></dx-text-area>
            </td>
            <td>
              <dx-check-box [readOnly]="readOnly" [(value)]="it.IsCorrect"></dx-check-box>
            </td>
            <td *ngIf="!readOnly">
              <button class="delete-btn" (click)="handleDeleteChoice(it)"><i class="icon fa fa-trash fa-lg" title="Delete choice"></i></button>
              <!-- <i class="fa fa-trash table-del-button" style="cursor: pointer;" title="Xoá" (click)="handleDeleteQuaTrinhDaoTao(item)"></i> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </dx-validation-group>
</dx-scroll-view>
