<app-generic-page pageTitle="Test details" [haveBackButton]="true" [loading]="loading">
  <ng-container main-filters>
    {{correctCount}}
  </ng-container>
  <ng-container buttons>
    <dx-button text="Submit" (onClick)="handleSubmit()"></dx-button>
  </ng-container>

  <ng-container body>
    <div class="row mt-2">
      <div class="col-12">
        <h4>{{item.TenDeThi}}</h4>
      </div>
    </div>

    <div class="row mt-4" *ngFor="let question of item.ListCauHoi; index as i" style="background-color: #fff;">
      <div class="col-6">
        <h5 class="label">Quiz: {{i + 1}}</h5>
        <!-- <app-custom-ckeditor [(Content)]="question.Question"></app-custom-ckeditor> -->
        <app-view-ckeditor [data]="question.Question"></app-view-ckeditor>
      </div>
      <div class="col-6">
        <div class="label">Answers</div>
        <div class="answers p-2" style="background-color: #fff;">
          <div *ngFor="let choice of question.ChoiceList" class="d-flex mt-2">
            <dx-check-box class="mr-1" [(value)]="choice.IsCorrect"></dx-check-box>
            <!-- <app-custom-ckeditor class="flex-grow-1" [(Content)]="choice.Answer"></app-custom-ckeditor> -->
            <app-view-ckeditor [data]="choice.Answer"></app-view-ckeditor>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-page>
